html {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
/* 
  background-repeat: no-repeat;
  background-size: cover; */
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#new-game-page {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-game-page h1 {
  font-size: 5rem;
  text-shadow: 2px 0px 12px rgba(255, 0, 0, 0.98);
  margin-bottom: 1.5em;
}

#best-score {
  margin-bottom: 1em;
}

#num-cards {
  width: 45px;
  padding: 7px;
  font-size: 1.15rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 5px;
}

#new-game-page .button {
  font-size: 1.25rem;
  margin-bottom: 2em;
}

#game-hud {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#game-hud h1 {
  margin: 0;
  text-shadow: 2px 0px 12px rgba(255, 0, 0, 0.98);
}

#current-score {
  margin: auto;
  text-shadow: 2px 0px 12px rgba(255, 0, 0, 0.98);
}

#game-hud .button {
  width: 150px;
  margin: auto;
}

.button {
  padding: 9px 15px;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.98);
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.5); */
}

.button:hover {
  border: 1px solid #fff;
  transition: all 0.3s ease 0s;
  transform: scale(1.1) translateZ(0);
}

.button:focus {
  outline: none;
}

.card {
  /* border: 1px solid black; */
  display: inline-block;
  cursor: pointer;
  margin: 20px;
  border-radius: 3px;
  perspective: 1000px;
}

.card__inner {
  background-color: #ffffff;
  color: #41295a;

  height: 170px;
  width: 125px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card_content--front {
  /* height: 100%; */
  background-image: url(./images/eye.jpg);
  background-size: cover;
  height: 170px;
  width: 125px;
}

.card__content--back {
  background-size: cover;
  height: 170px;
  width: 125px;
}

.flipped .card__inner {
  transform: rotateY(180deg);
}

.card__content {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card__content--back {
  transform: rotateY(180deg);
}

#game-over {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-over h1 {
  font-size: 2rem;
  text-shadow: 2px 0px 12px rgba(255, 0, 0, 0.98);
  margin-bottom: 0;
}

#gif-container {
  margin: 2em 0;
  max-width: 420px;
  max-height: 420px;
}

#gif-container img {
  height: 100%;
  width: 100%;
}

#final-score {
  margin-bottom: 1em;
}
